main{
    margin: 0 auto;
    width: 960px;
    box-shadow: 0 5px black;
}

.navbar-brand{
    border-radius: 50px !important;
}

.navbar-brand img{
    border-radius: 50px !important;
    width: 100px;
}


.shop-container{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: wrap;
}


.cart-container{
    width: 100%;
    padding: 1%;
}

.input-group-text{
    width: 
}

/*
.cart-container div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
*/